<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

    <center>
        <a href="/">
            <h2>{{ title }}</h2>
        </a>
    </center>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <center>
                <ul>
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <li style="color: red">{{ message }}</li>
                        {% else %}
                            <li style="color: blue">{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </center>
        {% endif %}
    {% endwith %}

    {% block content %}
    <!-- Page specific content will go here -->
    {% endblock %}

</body>
</html>
